*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#222;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#d299f8;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}



/* Hero */

.hero{
    height: 350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:rgb(200, 185, 245);
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin: 20px 0;
}


/* About */

.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px;
    background:#eeeeee;
}

.left{
    width:40%;
}

.left h2{
    font-size:40px;
}

.right{
    width:55%;
}

.right p{
    font-size:18px;
    line-height:1.8;
}

footer{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

.contact i{
    color:#c069fa;
    margin-right:10px;
    width:20px;
    padding:5px;
}

.contact p{
    color:white;
    text-decoration:none;
}

